.clearArea {
  background: transparent;
  box-shadow: inset 0px 0px var(--shadoWidth) rgb(0 0 0 / 30%);
  border: 1px solid gray;
  position: fixed;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}

ion-icon{
  &.red{
    color: red;
  }
  &.green{
    color: green;
  }
  &.blue{
    color: blue;
  }
}

ion-content {
  --offset-bottom: auto!important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
