<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Prototype
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <canvas #window></canvas>
  <canvas #canvas style="display: none"></canvas>

  <ion-fab slot="fixed" vertical="bottom" horizontal="start">
    <ion-fab-button>
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button (click)="load()">
        <ion-icon name="folder-open"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="save()">
        <ion-icon name="save"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="top">
      <ion-fab-button (click)="trash()">
        <ion-icon name="trash" color="danger"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-fab-button>
      <ion-icon name="construct"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button (click)="expand()">
        <ion-icon name="resize"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="zoomPopup()">
        <ion-icon name="search"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-fab-button (click)="center()">
        <ion-icon name="contract"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="brushSize()">
        <ion-icon name="brush"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="pencil" *ngIf="mode === 'PAINT'"></ion-icon>
      <ion-icon name="ellipse" *ngIf="mode === 'CLEAR'"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="paint(0,0,0)">
        <ion-icon name="pencil"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="paint(215,10,10)">
        <ion-icon name="pencil" class="red"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="paint(0,97,30)">
        <ion-icon name="pencil" class="green"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="paint(2,48,144)">
        <ion-icon name="pencil" class="blue"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="top">
      <ion-fab-button (click)="changeMode('CLEAR')">
        <ion-icon name="ellipse"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <div class="clearArea"
      *ngIf="mode === 'CLEAR'"
      [style.width]="lineWidth*24*zoom + 'px'"
      [style.height]="lineWidth*24*zoom + 'px'"
      [style.--shadoWidth]="lineWidth*12 + 'px'"
      [style.top]="mousePosition.y - (lineWidth*12*zoom) + 'px'"
      [style.left]="mousePosition.x - (lineWidth*12*zoom) + 'px'"
  ></div>
</ion-content>
