<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>
      Open Sketch
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <header>
    <h3>
      My sketchs
      <span>3/10</span>
    </h3>
    <div class="progress">
      <div class="total" style="width: 30%"></div>
    </div>
  </header>
  <section>
    <aside class="folders">
      <ion-list lines="none">
        <ion-list-header>
          <ion-label>Folders</ion-label>
        </ion-list-header>
        <ion-item (click)="newFolder()">
          <ion-icon name="add-circle" slot="start" color="primary"></ion-icon>
          <ion-label>New folder</ion-label>
        </ion-item>
        <ion-item-sliding *ngFor="let folder of folders">
          <ion-item (click)="selectFolder(folder._id)" [class.active]="folder._id === folderSelectedID">
            <ion-icon name="folder-open" slot="start" color="primary"></ion-icon>
            <ion-label>{{folder.name}}</ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="removeFolder(folder._id)">Remove</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </aside>
    <aside>
      <ion-list lines="none">
        <ion-list-header>
          <ion-label>File list</ion-label>
        </ion-list-header>
        <ion-item *ngIf="!folderSelectedID">
          Select a folder to see files
        </ion-item>
        <div *ngIf="folderSelectedID">
          <ion-item (click)="newFile(folderSelectedID)">
            <ion-icon name="add-circle" slot="start" color="primary"></ion-icon>
            <ion-label>New file</ion-label>
          </ion-item>
          <ion-item-sliding *ngFor="let file of filesInfolder">
            <ion-item (click)="confirm(file._id)">
              <img slot="start" [src]="file.preview" class="preview"/>
              <ion-label>{{file.name}}</ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="removeFile(file._id)">Remove</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </div>
      </ion-list>
    </aside>
  </section>


</ion-content>
