header {
  h3 {
    margin: 1vw;
    font-weight: bold;
    position: relative;
    font-size: 20px;
    span {
      position: absolute;
      right: 0px;
      font-weight: 500;
      font-size: 16px;
      top: 2px;
      font-family: Helvetica;
      color: var(--ion-color-primary);
    }
  }
  .progress {
    background: #ececec;
    height: 13px;
    margin: 1vw;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #cccccc;
    .total {
      display: block;
      height: 100%;
      background: var(--ion-color-primary);
    }
  }
}
section {
  display: flex;
  height: calc(100% - 70px);
  aside {
    width: 60%;
    padding: 1vw;
    height: 100%;
    ion-list {
      box-shadow: 0px 0px 6px #00000021;
      border-radius: 5px;
      height: 100%;
    }
    ion-list-header {
      ion-label {
        margin-top: 20px;
      }
    }
    &.folders {
      width:40%;
    }
    .preview {
      width: 40px;
      height: 35px;
      margin-right: 7px;
    }
    ion-item.active {
      --background: #ebebeb;
    }
  }
}
