<main>
  <header>
    Log In
  </header>
  <section>
    <h2>Create free account!</h2>
    <p>
      The free account allows you to save a limited amount of sketchs.
      <br/>
      I'm an indie developer, I don't have money for this project, and I did this for my iPad,<br /> so I decided to limit the accounts sketchs (money reasons).
    </p>
    <p>
      If you like this app, you can follow me on:<br />
      <a href="https://github.com/alexander171294" target="__blank"><ion-icon name="logo-github"></ion-icon> Alexander171294</a><br />
      <a href="https://twitter.com/TheCodeKeeper" target="__blank"><ion-icon name="logo-twitter"></ion-icon> TheCodeKeeper</a>
    </p>
    <ion-button *ngIf="loginWithApple" fill="outline" (click)="login()"><ion-icon name="logo-apple"></ion-icon> Continue with apple</ion-button>
  </section>
</main>
